@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Proza+Libre:wght@400;500;600;700&display=swap');

/*---------------
    GLOBAL 
 -------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.m-t-30{
    margin-top: 30px!important;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.text-center{
    text-align: center;
}
.section-white{
    background-color: #FFF;
}
.section-light{
    background-color: #F4F4F4;
}
.m-b-10{
    margin-bottom: 20px;
}
.m-t-10{
    margin-top: 20px;
}
.grid{
    display: grid;
    grid-gap: 1.5rem;
}
.f-28{
    font-size: 28px!important;
}
/*******************
content boxes
***************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
padding: 90px 0;
}
.content-box-sm{
    padding: 60px 0;
}
.content-box-xs{
    padding: 30px 0;
}


/* ---------------------
        NAVBAR 
-------------------------*/

.navbar{
    position: fixed;
    width: 100%;
    background: #FFF;
    padding: 30px 0;
    z-index: 999;
    box-shadow: 0 0 10px rgb(50 50 50 / 40%);
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
}
.navbar .logo a{
    color: #2558E4;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #000;
    transition: all .3s ease;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #000;
    display: block;
    font-size: 18px;
    margin-left: 50px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #2558E4;
}

.link::before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2558E4;
    transition: width .5s;
    margin-bottom: 5px;
}
.link:hover::before{
    width: 100%;
    transition: width .5s;
}

.navbar ul.menu>li.active>a{
    color: #2558E4;
 }
/*------------------------------------ 
                MENU BTN 
--------------------------------------*/
.menu-btn{
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*------------------------------------ 
                EFFECT CONTAINER 
--------------------------------------*/
.effect-wrap .effect{
    position: absolute;

}
.effect-1{
    width: 30px;
    height: 30px;
    border: 2px solid #2558E4;
    right: 55%;
    bottom: 20%;
    box-shadow: 0.5px 3px 3px 0.5px rgb(50 50 50 / 40%);
    animation: blob 10s linear infinite;
} 
.effect-2{
    height: 180px;
    width: 180px;
    border: 25px solid #ffdc40;
    border-radius: 50%;
    left: 40%;
    top: 20px;
    box-shadow: 0.5px 3px 3px 0.5px rgb(50 50 50 / 40%);
    animation: leftBounce 4s linear infinite;
}
@keyframes blob{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes leftBounce{
    0%,100%{
        transform: translateX(0)
    }
    50%{
        transform: translateX(25px);
    }
}
*/

/*------------------------------------ 
                BLOB WRAP 
--------------------------------------*/


.blob-wrap{
    width: 300px;
    height: 300px;
    background-color: #2558E4;
    border-radius: 37% 63% 73% 27% / 81% 76% 24% 19%;
    position: absolute;
    top: 70%;
    z-index: -1;
    border-radius: 37% 63% 73% 27% / 81% 76% 24% 19%;
    animation: blobs 10s ease-in-out infinite;
}

@keyframes blobs{
    0%{
        transform: scale(1) translate(0);
    }
    60%{
        transform: scale(.6, 1.2) translate(1.2vw, 3vh) rotate(210deg);
    }
    100%{
        transform: scale(1) translate(0) rotate(1turn);
    }
} 

/*------------------------------------
                BUTTONS 
 ------------------------------------*/

.btn{
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin: 30px 0;
    padding: 10px 20px;
    border-radius: 5px;
}
/* .btn1{
    padding: 10px 20px;
    margin: 30px 0;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid #2558E4;
    color: #FFF;
    cursor: pointer;
    background: #2558E4;
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
}
.btn1:hover{
    background-position: right;
    color: #000;
} */

.btn1{
    border: 2px solid #2558E4;
    color: #505050;
    transition: all .3s ease-in-out;
}
.btn1:hover {
    background: #2558E4;;
    color: #FFF;
}

.btn2{
    background: #2558E4;;
    color: #FFF;    
    transition: all .3s ease-in-out;
}

.m-t-50{
    margin-top: 50px;
}
.m-l-50{
    margin-left: 50px;
}
.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    font-size: 25px;
    padding: 3px 15px;
}
/*-----------------------------------------------------------------------------------------
                                                                HOME SECTION
-----------------------------------------------------------------------------------------*/
.home{
    width: 100%;
}
.home .screen{
    display: flex;
    justify-content: space-between;
}
.home .home-text{
    margin-left: 220px;
    margin-top: 200px;
    margin-bottom: 100px;
}
.home .home-text .text-1{
    font-size: 27px;
    color: #bbbbbb;
}
.home .home-text .text-2{
    font-size: 75px;
    font-weight: 600;
    color: #000;
}
.home .home-text .text-2 span{
    color: #444;
}
.home .home-text .text-3{
    font-size: 40px;
    color: #000;
}
.home .home-text .text-3 span{
    color: #2558E4;
    font-weight: 700 ;
}

.home .home-img .img-circle{
    margin-top: 120px;
} 
.home .home-img .img-circle img{
    width: 650px;
}
.social-media-icon{
    margin-top: 20px;
}
.linkedin-icon{
    font-size: 25px;
    color: #2558E4;
    transition: all .3s ease-in ;
}
.gitlab-icon{
    font-size: 25px;
    color: #2558E4;
    transition: all .3s ease-in ;
    margin-left: 10px;
}
.behance-icon{
    font-size: 25px;
    color: #2558E4;
    transition: all .3s ease-in ;
    margin-left: 10px;
}
.behance-icon:hover{
    color: #bababa;
}
.gitlab-icon:hover{
    color: #bababa;
}
.linkedin-icon:hover{
    color: #bababa;
}

.box{
    width: 130px;
    height: 205px;
    background-color: #ccc;
    opacity: 0.6;
    position: absolute;
    top: 44%;
    left: 0;
}

.outer-shadow{
    box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}
.outer-shadow-0{
    box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
}
.inner-shadow{
    box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f1f1f1;
}
.shadow{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}
.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{
    box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
}

/*-----------------------------------------------------------------------------------------
                                                                ABOUT SECTION 
--------------------------------------------------------------------------------------------------------------------------------------*/
.about{
    font-family: 'Raleway',sans-serif;
}
.about-flex{
    display: flex;
    margin-top: 50px;
}
.about-info{
    font-size: 18px;
    line-height: 1.7;
    padding: 0 70px;
    font-family: 'POppins',sans-serif;
    margin-top: 100px;
}
.about-info span{
    font-weight: 600;
    color: #2558E4;
}

/*--------------------------------------------------------------------------------------------------------------------------------------
                                                                SKILLS SECTION 
--------------------------------------------------------------------------------------------------------------------------------------*/
.skill{
    font-family: 'Poppins',sans-serif;
}
.skill-card{
    width: 350px;
    height: 430px;
    background-color: #f5f5f5;
    margin: 60px 0 0 40px;
}

.skill-card .skill-heading {
    font-size: 30px;
    text-align: center;
    margin: 40px 0 30px 0;
    color: #2558E4;
    font-weight: bold;
}
.skill-card .skill-heading img{
    color: #2558E4;
}
.skill-card .skill-heading i{
    margin-right: 4px;
}
.skill-card ul{
    margin: 0 50px 0 60px;
}
.skill-card ul li{
    font-size: 20px;
}
.skill-card ul li p{
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 0 5px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------
                                                                PROJECT SECTION 
--------------------------------------------------------------------------------------------------------------------------------------*/
.project-card{
    width: 500px;
    height: 450px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    margin-left: 70px;
    margin-top: 70px;
}

.project-card .project-card-title h3{
    padding: 10px 10px 10px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.project-card .project-card-desc p{
    font-size: 16px;
    padding: 0 30px 20px 30px;
}
.project-card-link {
    color: #000;
    font-weight: 500;
    margin-left: 30px;
}
.project-card-link:hover{
    color: #2558E4;
}
.project-btn{
    margin-top: 30px;
    margin-left: 70px;
}



/*-------------------------------------------------------------------------------------------------------
                                            CONTACT SECTION 
-------------------------------------------------------------------------------------------------------*/
.contact{
    font-family: 'Poppins',sans-serif;
}
textarea{
    resize: none;
    font-family: 'Poppins',sans-serif;
}
.heading{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.heading h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.heading h2::before{
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #2558E4;
}

.contact-card{
    width: 400px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}
.gutter{
    margin-left: 130px;
}
.contact .contact-item{
    padding: 20px;
    margin-top: 50px;
}
.contact .contact-item:nth-child(2){
    margin-left: 30px;
}
.contact .contact-item .contact-item-inner{
    padding: 50px 15px;
    text-align: center;
    border-radius: 10px;
}
.contact .contact-item .contact-item-inner i{
    font-size: 30px;
    color: #2558E4;
    display: block;
}
.contact .contact-item .contact-item-inner span{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #212121;
    margin: 10px 0 5px 0;
}
.contact .contact-item .contact-item-inner a{
    color: #bababa;
    font-weight: 700;
}

.w-100{
    flex: 0 100%;
    width: 100%;
}
.contact-input{
    margin-left: 140px;
    margin-top: 50px;
}
.contact .input-group{
    margin: 0 0 30px;
}
.contact .input-group .input-control{
    height: 50px;
    width: 84%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    display: block;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px;
    outline: none;
    background: transparent;
}
.contact .input-group textarea.input-control{
    height: 150px;
    padding: 20px;
}
.submit-btn{
    margin-left: 140px;
}


footer{
    background-color: #333;
    /* background: #2558E4; */
    padding: 20px;
}
footer p{
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    color: #FFF;
    text-align: center;
}


/*-------------------------------------------------------------------------------------------------------
                                            PRELOADER 
-------------------------------------------------------------------------------------------------------*/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2558E4;;
    z-index: 9999;
}

.loader-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
}

.object {
    border-radius: 50%;
    position: absolute;
    border-left: 5px solid #FFF;
    border-right: 5px solid #FFF;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    animation: animate 2s infinite;
}

#object_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}

#object_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    animation-delay: 0.1s;
}

#object_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    animation-delay: 0.2s;
}

#object_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    animation-delay: 0.3s;

}

@keyframes animate {

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

















